-- AlterEnum
-- This migration adds more than one value to an enum.
-- With PostgreSQL versions 11 and earlier, this is not possible
-- in a single migration. This can be worked around by creating
-- multiple migrations, each migration adding only one value to
-- the enum.


ALTER TYPE "TemplateKey" ADD VALUE 'bloom';
ALTER TYPE "TemplateKey" ADD VALUE 'luxe';
ALTER TYPE "TemplateKey" ADD VALUE 'modern';
ALTER TYPE "TemplateKey" ADD VALUE 'hanok';

-- DropForeignKey
ALTER TABLE "FoodVoteOption" DROP CONSTRAINT "FoodVoteOption_invitationId_fkey";

-- DropForeignKey
ALTER TABLE "FoodVote" DROP CONSTRAINT "FoodVote_invitationId_fkey";

-- DropForeignKey
ALTER TABLE "FoodVote" DROP CONSTRAINT "FoodVote_optionId_fkey";

-- DropIndex
DROP INDEX "Invitation_deletedAt_idx";

-- DropIndex
DROP INDEX "QuizQuestion_quizId_order_idx";

-- DropIndex
DROP INDEX "TimelineCard_puzzleId_correctOrder_idx";

-- DropIndex
DROP INDEX "MusicTrack_invitationId_createdAt_idx";

-- DropIndex
DROP INDEX "MusicVote_invitationId_trackId_idx";

-- AlterTable
ALTER TABLE "RSVPResponse" ALTER COLUMN "attendeeName" DROP DEFAULT;

-- AlterTable
ALTER TABLE "TimelineCard" ALTER COLUMN "shortDescription" DROP NOT NULL;

-- AlterTable
ALTER TABLE "MusicTrack" ALTER COLUMN "artist" DROP NOT NULL;

-- AlterTable
ALTER TABLE "FoodVoteOption" ALTER COLUMN "createdAt" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updatedAt" DROP DEFAULT,
ALTER COLUMN "updatedAt" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "FoodVote" ALTER COLUMN "createdAt" SET DATA TYPE TIMESTAMP(3);

-- CreateIndex
CREATE INDEX "TimelineCard_puzzleId_idx" ON "TimelineCard"("puzzleId");

-- CreateIndex
CREATE INDEX "MusicTrack_invitationId_idx" ON "MusicTrack"("invitationId");

-- CreateIndex
CREATE INDEX "MusicVote_trackId_idx" ON "MusicVote"("trackId");

-- AddForeignKey
ALTER TABLE "FoodVoteOption" ADD CONSTRAINT "FoodVoteOption_invitationId_fkey" FOREIGN KEY ("invitationId") REFERENCES "Invitation"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FoodVote" ADD CONSTRAINT "FoodVote_invitationId_fkey" FOREIGN KEY ("invitationId") REFERENCES "Invitation"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FoodVote" ADD CONSTRAINT "FoodVote_optionId_fkey" FOREIGN KEY ("optionId") REFERENCES "FoodVoteOption"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- RenameIndex
ALTER INDEX "FoodVote_invitationId_voterKey_uniq" RENAME TO "FoodVote_invitationId_voterKey_key";

