-- AlterEnum
BEGIN;
CREATE TYPE "TemplateKey_new" AS ENUM ('mono', 'editorial', 'film');
ALTER TABLE "Invitation" ALTER COLUMN "templateKey" TYPE "TemplateKey_new" USING ("templateKey"::text::"TemplateKey_new");
ALTER TYPE "TemplateKey" RENAME TO "TemplateKey_old";
ALTER TYPE "TemplateKey_new" RENAME TO "TemplateKey";
DROP TYPE "TemplateKey_old";
COMMIT;

-- DropForeignKey
ALTER TABLE "FoodVoteOption" DROP CONSTRAINT "FoodVoteOption_invitationId_fkey";

-- DropForeignKey
ALTER TABLE "FoodVote" DROP CONSTRAINT "FoodVote_invitationId_fkey";

-- DropForeignKey
ALTER TABLE "FoodVote" DROP CONSTRAINT "FoodVote_optionId_fkey";

-- DropIndex
DROP INDEX "TimelineCard_puzzleId_idx";

-- DropIndex
DROP INDEX "MusicTrack_invitationId_idx";

-- DropIndex
DROP INDEX "MusicVote_trackId_idx";

-- AlterTable
ALTER TABLE "RSVPResponse" ALTER COLUMN "attendeeName" SET DEFAULT '';

-- AlterTable
ALTER TABLE "TimelineCard" ALTER COLUMN "shortDescription" SET NOT NULL;

-- AlterTable
ALTER TABLE "MusicTrack" ALTER COLUMN "artist" SET NOT NULL;

-- AlterTable
ALTER TABLE "FoodVoteOption" ALTER COLUMN "createdAt" SET DATA TYPE TIMESTAMPTZ(6),
ALTER COLUMN "updatedAt" SET DEFAULT CURRENT_TIMESTAMP,
ALTER COLUMN "updatedAt" SET DATA TYPE TIMESTAMPTZ(6);

-- AlterTable
ALTER TABLE "FoodVote" ALTER COLUMN "createdAt" SET DATA TYPE TIMESTAMPTZ(6);

-- CreateIndex
CREATE INDEX "Invitation_deletedAt_idx" ON "Invitation"("deletedAt");

-- CreateIndex
CREATE INDEX "QuizQuestion_quizId_order_idx" ON "QuizQuestion"("quizId", "order");

-- CreateIndex
CREATE INDEX "TimelineCard_puzzleId_correctOrder_idx" ON "TimelineCard"("puzzleId", "correctOrder");

-- CreateIndex
CREATE INDEX "MusicTrack_invitationId_createdAt_idx" ON "MusicTrack"("invitationId", "createdAt");

-- CreateIndex
CREATE INDEX "MusicVote_invitationId_trackId_idx" ON "MusicVote"("invitationId", "trackId");

-- AddForeignKey
ALTER TABLE "FoodVoteOption" ADD CONSTRAINT "FoodVoteOption_invitationId_fkey" FOREIGN KEY ("invitationId") REFERENCES "Invitation"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "FoodVote" ADD CONSTRAINT "FoodVote_invitationId_fkey" FOREIGN KEY ("invitationId") REFERENCES "Invitation"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "FoodVote" ADD CONSTRAINT "FoodVote_optionId_fkey" FOREIGN KEY ("optionId") REFERENCES "FoodVoteOption"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- RenameIndex
ALTER INDEX "FoodVote_invitationId_voterKey_key" RENAME TO "FoodVote_invitationId_voterKey_uniq";

